<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="monitredSections" value="appSettings"/>
    

    <add key="Axis" value="Axis"/>
    <add key="Allies" value="Allies"/>
    <add key="Default_Channel" value="Default Channel"/>

    <add key="ServerStatusPath" value="C:\Users\Senne.geo-it\source\repos\COD_TEAMSPEAK\COD_Teamspeak\serverstatus.xml"/>
    
    <add key="TS_IP" value=""/>
    <add key="TS_USER" value=""/>
    <add key="TS_PASSWORD" value=""/>


  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
</configuration>
